.courses-wrapper
    padding-top: 50px
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    width: 100%
    max-width: 1300px
    margin: 0 auto
    .course-item
        width: 30%
        height: 300px
        box-shadow: 0 5px 10px -5px rgba(0,0,0,.2)
        border-radius: 10px
        background: rgb(240,240,240)
        padding: 20px
        margin-bottom: 30px
        .course-users
            display: flex
            align-items: center
            .course-user
                position: relative
                width: 32px
                height: 32px
                border-radius: 100px
                background-color: grey
                

.header-navbar
    display: flex
    align-items: center
    background-color: rgba(0,0,0,.1)
    border-bottom: 1px solid rgba(0,0,0,.2)
    padding: 2px 20px 0
    .navbar-logo
        font-size: 24px
        color: blue
        text-decoration: none
        font-weight: 600
    .nav-wrapper
        margin-left: 50px
        display: flex
        align-items: center
        flex-grow: 1
        height: 100%
        .navbar-link
            display: flex
            align-items: center
            margin-right: 30px
            height: 54px
            text-decoration: none
            font-weight: 500
            font-size: 16px
            line-height: 16px
            color: rgb(40,40,40)
            transition: .2s ease
            border-bottom: 2px solid transparent
            &:hover
                color: rgb(80,80,80)
            &:last-of-type
                margin-right: 0px
            &.active
                color: red
                border-bottom-color: red